.*.swp
*~
.*~
.idea
*.iml

**.aux
**.bak
**.dvi
**.elc
**.eps
**.fdb_latexmk
**.htm
**.la
**.lo
**.log
**.mod
**.o
**.out
**.output
**.pdf
**.ps
**.pyc
**.rej
**.sw[po]
**.tmp
**.toc
**/.#*

.DS_Store
.secret
.pc
.project

.python-version
.pip
